node_modules/
.next/
out/
build/
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.code-workspace
laporan/*.log
laporan/*.aux
laporan/*.out
laporan/*.toc
laporan/*.fls
laporan/*.fdb_latexmk
laporan/*.synctex.gz
